<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="thumbnail" style="height:900px; border:none">
      <h2><%= t('プロフィールを編集する', resource: resource.model_name.human) %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%# <%= image_tag(@user.profile_image.url) if @user.profile_image && @user.profile_image.url %>
          <br>
          <%= f.label :profile_image %><br />
          <%= f.file_field :profile_image, autofocus: true %>
          <%= f.hidden_field :profile_image_cache, autofocus: true %>
        </div>
        <br>
        <div class="field form-inline">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
        <br>
        <div class="field form-inline">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
        <% end %>
        <br>
        <div class="field form-inline">
          <%= f.label :profile %><br />
          <%= f.text_area :profile, autofocus: true, class: "form-control", style: "width:350px; height:60px" %>
        </div>
        <br>
        <div class="field">
          <div id="label_field">
            <%= f.label :label_ids %><br />
            <%= f.collection_check_boxes(:label_ids, Label.all, :id, :label_name) do |b| %>
              <%= b.label { b.check_box + b.text } %>
            <% end %>
          </div>
        </div>
        <br>
        <div class="field form-inline">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <%= t('* 6文字以上', count: @minimum_password_length) %>
          <% end %>
          (<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)<br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
        <br>
        <div class="field form-inline">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
        <p></p>
        <div class="actions">
          <%= f.submit t('.update'), class: "btn btn-info" %>
        </div>
        <br>
        <p><%= link_to "戻る", users_show_path, class: "btn btn-default btn-sm" %></p>
        <% end %>

      <h3><%= t('退会する') %></h3>

      <p><%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "btn btn-warning" %></p>
      <br>
    </div>
  </div>
  <div class="hidden-xs col-sm-12 col-md-6 col-lg-6">
    <div class="thumbnail" style="height:350px; border:none">
      <br>
      <br>
      <br>
      <% if @user[:profile_image] == nil %>
        <%= image_tag"birthday.png", width:"325", height:"250" %>
      <% else %>
        <%= image_tag @user.profile_image.url if @user.profile_image && @user.profile_image.url%>
      <% end %>
    </div>
  </div>
</div>
