<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li class="comment">
        <p><i class="fa fa-comments">&emsp;</i><%= comment.created_at.strftime("%Y年%-m月%-d日") %>&ensp;<%= comment.user.name %>さんより&emsp;<%= comment.content %>&emsp;</p>
        <% if user_signed_in? && comment.user_id == current_user.id %>
          <div class="btn-group btn-group-sm pull-right">
            <%= link_to '編集', edit_stroll_comment_path(comment.stroll, comment), remote:true, class:"btn btn-default" %>
            <%= link_to '削除', [comment.stroll, comment], method: :delete, data: { confirm: '本当に削除していいですか？' }, remote: true, class: "btn btn-default" %>
          </div>
        <% end %>
      </li>
      <br>
    <% end %>
  <% end %>
</ul>
