<h1><%= @user.name %>さんのいいね！一覧</h1>

<% @favorites.each do |favorite| %>
  <% stroll = Stroll.find(favorite.stroll_id) %>

  <table>
    <tr>
      <% if stroll[:image] == nil %>
        <td><%= image_tag"03summer_ver8-l.jpg", width:"325", height:"250" %></td>
      <% else %>
        <td><%= image_tag stroll.image.url %></td>
      <% end %>
    </tr>
    <tr>
      <td>投稿者 <%= stroll.user.name %>さん</td>
    </tr>
    <tr>
      <td>『<%= stroll.title %>』</td>
    </tr>
    <tr>
      <td>記事: <%= stroll.content %></td>
    </tr>
    <tr>
      <td>タグ: <%= stroll.tag %></td>
    </tr>
  </table>

<% end %>

<%= link_to "マイページに戻る", users_show_path %>
