<h1><%= @user.name %>のお気に入り一覧</h1>

<% @favorites.each do |favorite| %>
  <% stroll = Stroll.find(favorite.stroll_id) %>

  <table>
    <tr>
      <td>お名前:<%= stroll.user.name %></td>
    </tr>
    <tr>
      <td><%= image_tag stroll.image.url %></td>
    </tr>
    <tr>
      <td>タイトル:<%= stroll.title %></td>
    </tr>
    <tr>
      <td>内容:<%= stroll.content %></td>
    </tr>
  </table>

<% end %>

<%= link_to "マイページに戻る", users_show_path %>
