<h1><%= @user.name %>さんのページ</h1>
<p><%= notice %></p>
<br>
<% if @user[:profile_image] == nil %>
  <%= image_tag"birthday.png", width:"325", height:"250" %>
<% else %>
  <%= image_tag @user.profile_image.url if @user.profile_image && @user.profile_image.url%>
<% end %>
<p></p>
<br>
<p>お名前: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>
<p>プロフィール: <%= @user.profile %></p>
<p>ラベル: <% @user.labels.each do |label| %>
  <%= label.label_name %>
<% end %></p>

<%= link_to 'プロフィールを編集する', edit_user_registration_path(@user) %>
&emsp;<%= link_to 'いいね！一覧', favorites_user_path(@user.id) %>
