<div class="container">
  <div class="col-md-6">
    <div class="thumbnail" style="height:580px; border:none">
      <h1>マイページ</h1>
      <p><%= notice %></p>
      <br>
      <% if @user[:profile_image] == nil %>
        <%= image_tag"birthday.png", width:"325", height:"250" %>
      <% else %>
        <%= image_tag @user.profile_image.url if @user.profile_image && @user.profile_image.url%>
      <% end %>
      <p></p>
      <br>
      <p><i class="fa fa-user">&emsp;<%= @user.name %>さん</i></p>
      <p><i class="fa fa-envelope">&emsp;<%= @user.email %></i></p>
      <p><i class="fa fa-id-card">&emsp;<%= @user.profile %></i></p>
      <p><i class="fa fa-bookmark">&ensp;</i><% @user.labels.each do |label| %>
        <%= label.label_name %>
      <% end %></p>
      <br>
      <div class="text-right">
        <div class="btn-group btn-group-sm">
          <%= link_to '編集する', edit_user_registration_path(@user), class: "btn btn-default btn-sm" %>
          <% if @user.favorites.present? %>
          <%= link_to 'お気に入り一覧', favorites_user_path(@user.id), class: "btn btn-default btn-sm" %>
          <% end %>
          &emsp;
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail" style="height:580px; border:none">
      <br>
      <br>
      <br>
      <iframe width="530" height="315" src="https://www.youtube.com/embed/DJURZ8SfCN4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div clas="container">
  <div class="col-md-12 text-center">
    <% if @strolls.present? %>
      <h2>投稿一覧</h2>
    <% end %>
  </div>
</div>
<div class="container">
  <% @strolls.each do |stroll| %>
    <div class="col-md-4">
      <div class="thumbnail" style="height:360px; border:none">
        <% if stroll[:image] == nil %>
          <%= image_tag"03summer_ver8-l.jpg", width:"325", height:"250" %>
        <% else %>
          <%= image_tag(stroll.image.url) if stroll.image && stroll.image.url %>
        <% end %>
        <div class="caption text-center">
          <h4>『<%= stroll.title %>』</h4>
          <p><i class="fa fa-edit">&emsp;<%= stroll.user.created_at.strftime("%Y年%-m月%-d日") %></i></p>
          <p><%= link_to '記事を読む', stroll_path(stroll.id), class: "btn btn-default btn-sm" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
