<h1><%= @user.name %>のページ</h1>
<%= image_tag @user.profile_image.url if @user.profile_image && @user.profile_image.url%>
<p>プロフィール: <%= @user.profile %></p>
<p>お名前: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>

<%= link_to 'プロフィール編集', edit_user_registration_path(@user) %>
<%= link_to 'お気に入り一覧', favorites_user_path(@user.id) %>
<%= link_to '散歩一覧', strolls_path %>
