<%= form_with(model: @stroll, local:true) do |form| %>
<% if @stroll.errors.any? %>
  <div id="error_explanation">
    <h2><%= @stroll.errors.count %>件のエラーが発生したため散歩は保存されませんでした。</h2>
    <ul>
    <% @stroll.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <br>
  <div class="stroll_image">
    <%= image_tag(@stroll.image.url) if @stroll.image && @stroll.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <br>
  <div class="stroll_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <br>
  <div class="stroll_content">
    <%= form.label :content %>&emsp;&emsp;
    <%= form.text_area :content %>
  </div>
  <br>
  <%= form.submit %>
<% end %>
<br>
<%= link_to "散歩一覧に戻る", strolls_path %>
