<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="thumbnail" style="height:580px; border:none">
      <h2>記事を編集する</h2>
      <%= form_with(model: @stroll, local:true) do |form| %>
        <% if @stroll.errors.any? %>
          <div id="error_explanation">
          <h2><%= @stroll.errors.count %>件のエラーが発生したため投稿は保存されませんでした。</h2>
          <ul>
            <% @stroll.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <br>
        <div class="stroll_image">
          <%= image_tag(@stroll.image.url) if @stroll.image && @stroll.image.url %>
          <p></p>
          <%= form.file_field :image %>
          <%= form.hidden_field :image_cache %>
        </div>
        <br>
        <div class="stroll_title form-inline">
          <%= form.label :title %>
          <br>
          <%= form.text_field :title, class: "form-control", style:"width:200px" %>
        </div>
        <br>
        <div class="stroll_content form-inline">
          <%= form.label :content %>
          <br>
          <%= form.text_area :content, class: "form-control", style: "width:350px; height:60px" %>
        </div>
        <br>
        <div class="stroll_tag form-inline">
          <%= form.label :tag %>
          <br>
          <%= form.select :tag, ["観る・遊ぶ・体験する", "グルメ", "特産品・おみやげ", "暮らし", "歴史・文化", "がんばろう！ちば"], {include_blank: '選択'}, class: "form-control", style: "width:200px" %>
        </div>
        <br>
        <div>
        <%= form.submit '編集する', class: "btn btn-info" %>
        </div>
        <br>
        <div>
        <%= link_to "戻る", stroll_path(@stroll.id), class: "btn btn-default btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="hidden-xs col-sm-12 col-md-6 col-lg-6">
    <div class="thumbnail" style="height:580px; border:none">
      <br>
      <br>
      <br>
      <iframe width="530" height="315" src="https://www.youtube.com/embed/CPblUJmSR0E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
