<!DOCTYPE html>
<html>
  <head>
    <title>chibasampo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=message >
      <p>令和元年台風15号及び台風19号並びに10月25日の大雨で関東甲信、東北地方は大きな被害を受けました。</p>
      <p>なかでも千葉は深刻な被害を受けました。再建を諦めて転居する方、ブルーシートの屋根で年を越す方も。</p>
      <p>同じ県民として微力ながら千葉を応援したい。そのためには千葉を知ることからはじめよう。</p>
      <p>そんな思いで作りました。お手すきの際に少しだけご覧いただけると嬉しいです。</p>
    </div>
    <div class="no-gutters">
      <%= image_tag"2019-11-14__21_.jpg", width:"100%" %>
    </div>
    <div class="container">
      <article class="content">
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　鋸南町</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　7,800人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　3,334世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県南部に位置する。北部には鋸山があり、山内にある日本寺には日本一大きな石仏が鎮座する。<br>　野菜や花卉の栽培が盛んで、菜の花やカーネーションの生産額は、県内でもトップクラス。<br>　かねてより人口減が続いている。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.town.kyonan.chiba.jp/">https://www.town.kyonan.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　栄町</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　20,848人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　8,313世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県北部に位置し、北は利根川を挟んで茨城県に接する。<br>　1982年以降、安食駅を中心とした一帯は住宅地として開発が進んだ。<br>　成田市に近い南部に残る、6~7世紀頃に形成された古墳群は県内でもっとも広い面積をもつ国指定史跡。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.town.sakae.chiba.jp/">http://www.town.sakae.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　大網白里市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　48,805人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　19,161世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県中央東部、九十九里平野のほぼ中央に位置。<br>　明治初期には、旧安房、上総、下総と現在の茨城県を管轄する宮谷県が置かれていた。<br>　漁業や農業を主産業とする地域だったが、1970年代からは丘陵地を中心に宅地開発が進み第3次産業の人口比率が上がっている。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.city.oamishirasato.lg.jp/">http://www.city.oamishirasato.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　香取市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　75,755人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　27,600世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　2006年に佐原市と香取郡の3町が合併して誕生。県北東部に位置し北部は茨城県と接する。<br>　東国三社のひとつ香取神宮や、日本初の実測日本地図を作製した伊能忠敬の旧宅がある。<br>　また、7月と10月にはユネスコ無形文化遺産に登録されている「佐原の山車行事」が佐原の大祭として行われる。県内一のサツマイモの産地。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.city.katori.lg.jp/">http://www.city.katori.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　山武市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　51,029人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　19,588世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　2006年に山武群の4町村が合併して誕生。県東部、太平洋に面し、九十九里浜のほぼ中央に位置する。<br>　中央部に広がる平野では稲作をはじめトウモロコシやソラマメ、スイカといった野菜・果物の生産が盛んに行われている。<br>　短歌誌『アララギ』創刊時の主要メンバー・伊藤左千夫の出身地。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.sammu.lg.jp/">https://www.city.sammu.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　いすみ市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　37,572人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　14,839世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　2005年に夷隅郡にあった3町が合併して誕生。県南東部に位置し、東は太平洋に面する。<br>　九十九里浜の南端にあたる市北部の海岸には、日本で初めて国の天然記念物に指定された太東海植物群落がある。<br>　世界有数のヨウ素の生産地として知られる。JR外房線が海沿いを南北に、いすみ鉄道が市の中心を東西に横断している。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.city.isumi.lg.jp/">http://www.city.isumi.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　九十九里町</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　15,904人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　6,362世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県東部、太平洋側に位置する。水産加工業が盛んで、イワシ漁とイワシの加工食品が町の産業を支えている。<br>　浜は海水浴場としても有名で、年間約70万人が訪れる。<br>　伊能忠敬の出生地として、県指定史跡の公園に石碑が立っている。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.town.kujukuri.chiba.jp/">http://www.town.kujukuri.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　八街市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　69,469人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　27,437世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県中央部に位置し、標高は14~66mほど。基幹産業は農業で、田畑が市の半分以上を占める。<br>　おもに野菜が栽培され、ニンジンは全国2位、ゴボウは全国8位の生産量(2014年)を誇る。<br>　なかでも落花生は「八街落花生」として商標登録されるほどで、生産量は日本一(2006年、千葉県調べ)。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.yachimata.lg.jp/">https://www.city.yachimata.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　鴨川市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　33,249人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　14,608世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　房総半島の南東部、太平洋側に位置。<br>　勝浦市に近い内浦湾に生息するタイは、生態のめずらしさなどから、国の特別天然記念物に指定されている。<br>　日本屈指の水族館、鴨川シーワールドがある。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.city.kamogawa.lg.jp/">http://www.city.kamogawa.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　君津市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　84,622人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　34,825世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　房総半島のほぼ中央に位置。<br>　東京湾に面する市北西部は平坦な大地だが、東部は石尊山や大福山などの清澄山系、南部は三石山や鹿野山の高宕山系が広がる丘陵地帯となっている。<br>　東京湾へ面する海岸線は1960年代に埋め立てられ、現在は新日鐵住金の製鉄所などが操業している。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.kimitsu.lg.jp/">https://www.city.kimitsu.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　館山市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　46,621人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　20,343世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　本州の太平洋沿岸のほぼ中央、房総半島の南端に位置し、東京都心からは100km圏内にある。<br>　周囲を南房総市に囲まれ、内房の館山湾と太平洋に面する。年間平均気温16℃以上と気候は温暖。<br>　1456年頃この地を治めた戦国武将・里見氏の史跡が残る。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.tateyama.chiba.jp/">https://www.city.tateyama.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　南房総市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　37,921人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　15,038世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県南部に位置し、市北部には千葉県最高峰の愛宕山(408m)をはじめ富山など300m級の山が連なる。<br>　農業が盛んで、全国2位の産出額(2014年)のビワ、洋ランやスターチスなど花卉の産地として有名。<br>　日本の酪農発祥の地で、生乳や乳牛は全国5位(2014年)。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.city.minamiboso.chiba.jp/">http://www.city.minamiboso.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　市川市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　488,646人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　236,013世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　西は江戸川を挟んで東京都に、南は東京湾に接する。北部は標高20mほどの台地で、南部は同2m程度の低地帯。<br>　都心から20km圏内に位置し、今では首都圏のベッドタウンとして発展。<br>　かつて、永井荷風や幸田露伴、北原白秋ら文人が暮らしたことでも有名。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.ichikawa.lg.jp/">https://www.city.ichikawa.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　市原市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　273,094人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　115,410世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　面積が県内1位。県中央部に位置し、北部は平坦な台地、南部は標高200~300mの上総丘陵に属する。<br>　臨海部の埋め立てで京葉工業地域の一部をなすようになり、産業は第一次から第二次、第三次へと変化した。<br>　注目の地層「チバニアン」がある地。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.ichihara.chiba.jp/">https://www.city.ichihara.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　長南町</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　7,944人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　2,778世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県のほぼ中央、上総丘陵に位置する。北部の市津湖を挟み市原市と接する。<br>　稲作を中心とした農業が盛んで、町の4分の1を農地が占める。農業用のため池も多い。<br>　1995年頃から人口は減り続けている。また、ゴルフ場が多い(2017年5月現在、9つ)ことで知られる。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.town.chonan.chiba.jp/">https://www.town.chonan.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　佐倉市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　172,226人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　69,839世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県北部、下総台地の中央部に位置し、都心からは40km圏内。<br>　市北部には印旛沼があり、印旛沼付近から広がる台地や傾斜地からなる。<br>　佐倉城は、江戸時代に江戸を守る要衝のひとつに数えられた。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.city.sakura.lg.jp/">http://www.city.sakura.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　茂原市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　89,011人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　36,663世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　千葉県の中央東部に位置。旧石器時代から弥生時代の遺跡や貝塚、4世紀の大和朝廷確立以降の古墳が残る。<br>　明治中期に天然ガスが発見され、産業として発展。今もメタンガスの生産量は日本一。<br>　茂原七夕まつりは、関東三大七夕まつりのひとつ。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.city.mobara.chiba.jp/">http://www.city.mobara.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　銚子市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　62,428人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　26,060世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　東京から約100km、関東平野の最東端に位置。北は利根川を隔て茨城県に、東から南にかけて太平洋に接する。<br>　全国屈指の水揚げ量を誇る銚子漁港を擁する。<br>　また、源義経が奥州へ逃れる途中でこもった洞窟といわれる千騎ケ岩や、犬岩など、源義経伝説が残る。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.city.choshi.chiba.jp/">http://www.city.choshi.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　四街道市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　90,355人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　36,177世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県北部に位置。下総台地にあり、市内はほぼ平坦。<br>　昭和40年代前半に大型団地が建造され、首都圏のベッドタウンとして急速に発展を遂げた。<br>　かつては稲作が盛んだったが、戦後の開拓によって今では乳牛や養鶏など畜産業の拠点となっている。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.yotsukaido.chiba.jp/">https://www.city.yotsukaido.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　一宮町</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　11,709人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　4,578世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県東部、九十九里浜の南端に位置。東は太平洋、西は丘陵が広がる。<br>　基幹産業は、ハウス栽培を中心とした農業で、日本一といわれるガラス温室団地がある。<br>　釣ヶ崎海岸が、2020年の東京オリンピックのサーフィンの競技会場に決まっている。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.town.ichinomiya.chiba.jp/">https://www.town.ichinomiya.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　印西市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　95,878人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　34,498世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県北部に位置し、北は利根川を挟んで茨城県と接する。南には印旛沼がある。<br>　市面積の4割を田畑が占め、宅地は約1割程度。人口の半数以上を千葉ニュータウン区域が占めている。<br>　国指定天然記念物の木下貝層など文化財も多い。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.inzai.lg.jp/">https://www.city.inzai.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　白子町</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　10,829人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　4,183世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県中央部に位置し、町はほぼ平坦で海岸線は九十九里浜に沿う。<br>　基幹産業は農業や花卉栽培で、町の面積の半分以上を農地が占める。なかでもトマト、ガーベラは県内有数の産地。葉玉ねぎの生産地としても知られる。<br>　町内に300面を超すテニスコートを有し、観光客の3分の1はテニスを楽しみに訪れている。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.town.shirako.lg.jp/">https://www.town.shirako.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　多古町</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　14,416人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　5,119世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県北中部、下総台地の東に位置。県内にある町村のなかで2番目に広い面積をもつ。<br>　中央部に流れる栗山川流域には水田地帯が広がり、北部と頭部には台地が広がる。この水田地帯でつくられる「多古米」は、日本の米づくり100選に選ばれている。<br>　中地区に残る日本寺には、仏教史上有名な僧侶の養成機関である中村檀林が開かれていた。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.town.tako.chiba.jp/">https://www.town.tako.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　千葉市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　974,759人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　427,032世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県庁所在地。県のほぼ中央に位置し、県内の幹線道路や鉄道の起点となっている。<br>　県内唯一の政令指定都市(1992年に移行)であり、6区からなる。北は市川市、南は袖ヶ浦市へと6市にまたがる千葉港は、貨物取扱量で全国2位(2013年)。<br>　他方で、埋め立てられた湾岸部に、かつての漁業の町という趣はない。東京都区内への通勤率は20.8%(2010年の国勢調査)。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.chiba.jp/">https://www.city.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　睦沢町</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　7,056人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　2,457世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県中東部に位置し、標高は約2~168m。北東部に流れる一宮川、中央部の瑞沢川や長楽寺川などの河川付近は、上総地区屈指の穀倉地帯。<br>　県内トップクラスのシクラメン生産地。地下には天然ガス資源が豊富。<br>　里見八犬伝に登場する樹齢1000年を超える御神木などが残る。町内に鉄道駅はない。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.town.mutsuzawa.chiba.jp/">http://www.town.mutsuzawa.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　旭市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　65,682人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　23,699世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　千葉県の北東部に位置し、南部は九十九里浜(太平洋)に面する。<br>　稲作をはじめとした農業、花の栽培、畜産などが盛んで、農業生産額は県内でもトップクラス。<br>　漁業では飯岡漁港が県内2位の水揚げ量を誇る。銚子市の南端部から続く、「東洋のドーバー」とも呼ばれる海岸の絶景、屏風ヶ浦が広がる。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.city.asahi.lg.jp/">http://www.city.asahi.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　東金市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　60,155人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　25,594世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　千葉市のほぼ中央部に位置し、千葉市の東側に接する。<br>　江戸時代、徳川家康が鷹狩のためにつくらせた御成街道がきっかけとなり、問屋街がつくられた。以降、物流の集散地として発展した。<br>　現在でも国道や圏央道が通る交通の要衝となっている。匝瑳市と並んで植木の生産地としても知られる。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.togane.chiba.jp/">https://www.city.togane.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　東庄町</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　13,822人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　4,602世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県北東部、銚子市の西に位置し北は利根川を挟んで茨城県と接する。町を含む一帯は水郷筑波国定公園に属する。<br>　町中部は下総台地にあり、標高は約50m。南部と北部は傾斜し低地となっている。<br>　基幹産業は、稲作や畑作などの農業。毎年4月に行われる笹川の神楽は、県の無形民俗文化財に指定されている。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.town.tohnosho.chiba.jp/">https://www.town.tohnosho.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　成田市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　132,293人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　57,763世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県の北部中央、下総台地に位置する中核都市。北は利根川を挟んで茨城県と接する。<br>　開山1000年を超える成田山新勝寺や成田国際空港が有名。<br>　成田国際空港がある三里塚地区には、かつて下総御料牧場(1969年に移転)が広がっていた。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.narita.chiba.jp/">https://www.city.narita.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　富里市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　49,829人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　20,854世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県中部に位置。標高40~50mの台地で、中央部には高崎川や根木名川が流れる。<br>　農業が盛んで、スイカ、サトイモは全国でも上位の生産量を誇る。<br>　明治期にはこの地に下総牧羊場および取香種畜場が開設され、のちの下総御料牧場のもととなった。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.city.tomisato.lg.jp/">http://www.city.tomisato.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　匝瑳市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　36,398人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　12,742世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県北東部に位置する。2006年、八日市場市と野栄町が合併して誕生した。<br>　南部は平坦地で田畑が広がり、海岸線は九十九里浜に面する。海洋性の温暖な気候。<br>　東金市と並び苗木の生産地として知られ、その生産額は全国有数。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.sosa.lg.jp/">https://www.city.sosa.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　大多喜町</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　9,483人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　3,391世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県中央南部に位置する。県内の町村のなかでもっとも広大な面積を有し、その約7割を山林が占める。<br>　南部は上総丘陵に含まれ、御嶽山や殿中山などがそびえる。西部には養老川が流れる。<br>　鉄道は、1930年から国鉄木原線(現在のいすみ鉄道)が走っている。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="http://www.town.otaki.chiba.jp/">http://www.town.otaki.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　横芝光町</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　23,320人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　8,545世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県北東部に位置し、海岸線には九十九里浜が広がる。中央部を北から南に流れる栗山川は、九十九里平野最大の河川で、かつて上総と下総の国境となっていた。<br>　畜産が盛んで、町営東陽食肉センターは県内2位の処理実績。国指定史跡の殿塚・姫塚が残る。<br>　毎年8月に広済寺で行われる鬼来迎は、全国唯一の古典的地獄劇。国の重要無形民俗文化財に指定されている。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.town.yokoshibahikari.chiba.jp/">https://www.town.yokoshibahikari.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　木更津市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　134,968人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　56,297世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　南房総の東京湾岸に位置し、湾の向かいの神奈川県川崎市と東京湾アクアラインで結ばれている。<br>　日本三大狸伝説のひとつ、童謡「証城寺の狸ばやし」の舞台となった證誠寺がある。<br>　かつて農地だった中部の台地は宅地化が進んでいる。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.kisarazu.lg.jp/">https://www.city.kisarazu.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　富津市</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　44,654人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　17,728世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　房総半島中西部に位置し、東京湾に接する。市南部は上総丘陵に含まれ、鋸山や愛宕山、氷室山などを含む山間部がある。<br>　市北部、東京湾へ突出した富津岬は、南房総国定公園に指定されている。<br>　ここから見る富士山は、関東の富士見百景に選出されている。主産業は第三次産業。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.city.futtsu.lg.jp/">https://www.city.futtsu.lg.jp/</a></td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>被災自治体</th>
            <td>　長柄町</td>
          </tr>
          <tr>
            <th>人口</th>
            <td>　7,125人</td>
          </tr>
          <tr>
            <th>世帯数</th>
            <td>　2,592世帯</td>
          </tr>
          <tr>
            <th>特色</th>
            <td>　県中央部、長生郡の西端に位置する。上総丘陵のまっただなかにあり、起伏が激しい地形をしている。<br>　日本最大級のアース式ダム、長柄ダムを有しており、周辺地域の水源となっている。<br>　1989年から96年頃までの人口は増加傾向にあったが、1998年以降は現在に至るまで減少が続いている。</td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>　<a href="https://www.town.nagara.chiba.jp/">https://www.town.nagara.chiba.jp/</a></td>
          </tr>
        </table>
        <br>
        <br>
      </article>
    </div>
  </body>
</html>
