<div class="message">
  <h1>あなたの「ちばさんぽ」教えて！</h1>
  <p>千葉は広いので県民の皆さんも千葉のことを知りません。</p>
  <p>あなたが知ってる千葉を共有してみんなで千葉を知りましょう。</p>
  <p><%= notice %></p>
</div>
<br>
<div class="no-gutters">
<%= search_form_for @q do |f| %>
  <%= f.label :title_or_content_or_users, "キーワード" %>&ensp;
  <%= f.search_field :title_or_content_or_user_name_or_user_profile_cont_any %>
  &emsp;
  <%= f.label :tag %>&ensp;
  <%= f.select :tag_eq, [["観る・遊ぶ・体験する"], ["グルメ"], ["特産品・おみやげ"], ["暮らし"], ["歴史・文化"], ["がんばろう！千葉"]], {include_blank: '選択'} %>
  &emsp;
  <%= f.submit "検索" %>
  &emsp;
  <%= link_to '新しく投稿する', new_stroll_path, class: 'btn btn-danger' %>
<% end %>
</div>
<br>
<div class="container">
  <% @strolls.each do |stroll| %>
    <div class="col-md-4">
      <div class="thumbnail stroll_row" style="height:390px; border:none">
        <% if stroll[:image] == nil %>
          <%= image_tag"03summer_ver8-l.jpg", width:"325", height:"250" %>
        <% else %>
          <%= image_tag(stroll.image.url) if stroll.image && stroll.image.url %>
        <% end %>
        <div class="caption text-center">
        <h4>&emsp;『<%= stroll.title %>』</h4>
        <p>&emsp;投稿日 <%= stroll.user.created_at.strftime("%Y年%-m月%-d日") %></p>
        <p>&emsp;<button class="btn btn-default btn-sm"><%= link_to '記事を読む', stroll_path(stroll.id) %></button></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
