<div class="message">
  <br>
  <h1>あなたの「ちばさんぽ」教えて！</h1>
  <p>千葉は広いので県民の皆さんも千葉のことを知りません。</p>
  <p>あなたが知ってる千葉を共有してみんなで千葉を知りましょう。</p>
</div>
<br>
<div class="no-gutters form-inline">
<%= search_form_for @q do |f| %>
  <a class="redtip" data-toggle="tooltip" data-placement="left" title="タイトル、記事、投稿者名などで検索できます"><i class="fa fa-search"></i></a>&ensp;
  <%= f.search_field :title_or_content_or_user_name_or_user_profile_cont_any, class: "form-control" %>
  &emsp;
  <i class="fa fa-tag"></i>&ensp;
  <%= f.select :tag_eq, [["観る・遊ぶ・体験する"], ["グルメ"], ["特産品・おみやげ"], ["暮らし"], ["歴史・文化"], ["がんばろう！ちば"]], {include_blank: '選択'}, class: "form-control" %>
  &emsp;
  <%= f.submit "検索", class: "btn btn-danger" %>
  &emsp;
  <%= link_to '新しく投稿する', new_stroll_path, class: 'btn btn-danger' %>
<% end %>
</div>
<br>
<div class="message">
<p><%= notice %></p>
</div>
<br>
<div class="container">
  <% @strolls.each do |stroll| %>
    <div class="col-md-4">
      <div class="thumbnail stroll_row" style="height:390px; border:none">
        <% if stroll[:image] == nil %>
          <%= image_tag"03summer_ver8-l.jpg", width:"325", height:"250" %>
        <% else %>
          <%= image_tag(stroll.image.url) if stroll.image && stroll.image.url %>
        <% end %>
        <div class="caption text-center">
          <h4>『<%= stroll.title %>』</h4>
          <p><i class="fa fa-edit" aria-hidden="true">&emsp;<%= stroll.user.created_at.strftime("%Y年%-m月%-d日") %></i></p>
          <p><%= link_to '記事を読む', stroll_path(stroll.id), class: "btn btn-default btn-sm" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<style>
.redtip + .tooltip .tooltip-inner {
  background-color: white;
  border: dotted 0.5px black;
  color: black;
}
</style>

<script type="text/javascript">
  $(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
