<h1>あなたの「ちばさんぽ」教えて！</h1>
<p>〜あなたが知ってる千葉をみんなで共有しよう〜</p>
<p><%= notice %></p>
<%= search_form_for @q do |f| %>
  <%= f.label :title %>
  <%= f.search_field :title_cont %>
  &emsp;
  <%= f.label :tag %>
  <%= f.select :tag_eq, [["観る・遊ぶ・体験する"], ["グルメ"], ["特産品・おみやげ"], ["暮らし"], ["歴史・文化"], ["がんばろう！千葉"]], {include_blank: '選択'} %>
  &emsp;
  <%= f.submit "検索" %>
  &emsp;
  <%= link_to '新しく投稿する', new_stroll_path, class: 'btn btn-danger' %>
<% end %>
<p></p>
<table>
  <% @strolls.each do |stroll| %>
    <tr class="stroll_row">
      <% if stroll[:image] == nil %>
        <td><%= image_tag"03summer_ver8-l.jpg", width:"325", height:"250" %></td>
      <% else %>
        <td><%= image_tag(stroll.image.url) if stroll.image && stroll.image.url %></td>
      <% end %>
      <td>&emsp;投稿者 <%= stroll.user.name %>さん</td>
      <td>&emsp;『<%= stroll.title %>』</td>
      <td>&emsp;<%= link_to '記事を読む', stroll_path(stroll.id) %></td>
    </tr>
  <% end %>
</table>
