<!DOCTYPE html>
<html>
  <head>
    <title>chibasampo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="no-gutters">
      <%= image_tag"IMG_0264.jpg", width:"60%" %>
    </div>
    <br>
    <div class="container">
      <article class="content">
        <table>
          <tr>
            <th>千葉の人々</th>
            <td>　伊能忠敬</td>
          </tr>
          <tr>
            <th>業績</th>
            <td>　初めて実測による日本地図を完成させた</td>
          </tr>
          <tr>
            <th>研究分野</th>
            <td>　天文学</td>
          </tr>
          <tr>
            <th>略年表</th>
            <td>　1745年(&nbsp;&nbsp;0歳) 現在の九十九里町で誕生<br>　1762年(17歳) 佐原村の伊能家に婿入り<br>　1781年(36歳) 佐原村本宿組の名主となる<br>　1794年(49歳) 隠居が認められる<br>　1795年(50歳) 江戸に住み、天文学者・高橋至時の弟子になる<br>　1800年(55歳) 第1次測量(東北・北海道南部)<br>　1801年(56歳) 第2次測量(関東・東北東部)<br>　1802年(57歳) 第3次測量(東北西部)<br>　1803年(58歳) 第4次測量(東海・北陸)<br>　1804年(59歳) 日本東半部沿海地図を幕府に提出、以後、幕吏に登用される<br>　1805年(60歳) 第5次測量(畿内・中国)<br>　1808年(63歳) 第6次測量(四国)<br>　1809年(64歳) 第7次測量(九州1次)<br>　1811年(66歳) 第8次測量(九州2次)<br>　1815年(70歳) 第9次測量(伊豆七島、体調不良で不参加)<br>　1816年(71歳) 第10次測量(江戸府内)<br>　1818年(73歳) 自宅にて死去<br>　1821年 大日本沿海輿地全図(大図214枚・中図8枚・小図3枚)、大日本沿海実測録(14巻)が完成</td>
          </tr>
          <tr>
            <th>URL</th>
            <td><a href="https://www.city.katori.lg.jp/sightseeing/museum/">　https://www.city.katori.lg.jp/sightseeing/museum/</td>
          </tr>
        </table>
      </article>
    </div>
    <br>
    <br>
  </body>
</html>
