<!DOCTYPE html>
<html>
  <head>
    <title>chibasampo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="sceneTop" class="top screen">
      <h1>ちばクイズ</h1>
      <p>10問あります。全問正解をめざしましょう。</p>
      <br>
      <br>
      <%= image_tag"1024px-千葉県地図赤塗り.png", width:"350", height:"425" %>
      <br>
      <br>
      <button id="btnStart">はじめる</button>
    </div>
    <br>
    <br>
    <br>
    <div id="sceneGame" class="game screen">
      <p id="textQuestion"></p>
      <ul id="listAnswer"></ul>
    </div>

    <div id="sceneResult" class="result screen">
      <h1>結果発表</h1>
      <p>お疲れさまでした。10問中<span id="numResult"></span>問正解です。</p>
      <br>
      <%= image_tag"chi-ba_big.gif", width:"450", height:"300" %>
      <br>
      <br>
      <button id="btnReset">はじめから</button>
    </div>
  </body>
</html>
