<h1>記事を読む</h1>
<p><%= notice %></p>
<p id="error_explanation"></p>
<% if @stroll[:image] == nil %>
  <%= image_tag"03summer_ver8-l.jpg", width:"325", height:"250" %>
<% else %>
  <%= image_tag(@stroll.image.url) if @stroll.image && @stroll.image.url %>
<% end %>
<p>投稿日 <%= @stroll.user.created_at.strftime("%Y年%-m月%-d日") %></p>
<p>投稿者 <%= @stroll.user.name %>さん</p>
<p>『<%= @stroll.title %>』</p>
<p>記事: <%= @stroll.content %></p>
<p>タグ: <%= @stroll.tag %></p>
<table>
  <tr>
    <% if user_signed_in? && current_user.id == @stroll.user_id %>
      <div class="btn-group btn-group-xs">
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidenn="true">&ensp;<%= link_to '編集', edit_stroll_path(@stroll.id) %></span></button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true">&ensp;<%= link_to '削除', stroll_path(@stroll.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></span></button>
      </div>
    <% end %>
  </tr>
</table>
<% if current_user %>
  <% unless @stroll.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'いいね！を取り消す', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-info' %>
      <% else %>
      <%= link_to 'いいね！', favorites_path(stroll_id: @stroll.id), method: :post, class: 'btn btn-warning' %>
    <% end %>
  <% end %>
<% end %>
<p></p>
<p>コメント: </p>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, stroll: @stroll } %>
</div>
<% if user_signed_in? && @stroll.user_id != current_user.id %>
  <%= render partial: 'comments/form', locals: { comment: @comment, stroll: @stroll } %>
<% end %>
<br>
<br>
<h2>投稿者プロフィール</h2>
<% if @stroll.user[:profile_image] == nil %>
  <%= image_tag"birthday.png", width:"325", height:"250" %>
<% else %>
  <%= image_tag @user.profile_image.url if @user.profile_image && @user.profile_image.url%>
<% end %>
<p></p>
<br>
<p>お名前: <%= @stroll.user.name %>さん</p>
<p>プロフィール: <%= @stroll.user.profile %></p>
<p>ラベル: <% @stroll.user.labels.each do |label| %>
  <%= label.label_name %>
<% end %></p>
<%= link_to "一覧に戻る", strolls_path %>
