<h1>散歩詳細画面</h1>
<%= image_tag @stroll.image.url %>
<p>投稿者: <%= @stroll.user.name %>さん</p>
<p>タイトル: <%= @stroll.title %></p>
<p>内容: <%= @stroll.content %></p>
<% if current_user %>
  <% unless @stroll.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'お気に入りを解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
      <%= link_to 'お気に入りに登録する', favorites_path(stroll_id: @stroll.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>
<%= link_to "散歩一覧画面にもどる", strolls_path %>
