<div class="container">
  <div class="col-md-7">
    <div class="thumbnail" style="height:700px; border:none">
      <h1>記事を読む</h1>
      <p><%= notice %></p>
      <p id="error_explanation"></p>
      <br>
      <% if @stroll[:image] == nil %>
        <%= image_tag"03summer_ver8-l.jpg", width:"325", height:"250" %>
      <% else %>
        <%= image_tag(@stroll.image.url) if @stroll.image && @stroll.image.url %>
      <% end %>
      <br>
      <div class="text-center">
        <h4>『<%= @stroll.title %>』</h4>
        <p><span class="glyphicon glyphicon-file" aria-hidden="true">&emsp;<%= @stroll.content %></span></p>
        <p><span class="glyphicon glyphicon-tag" aria-hidden="true">&emsp;<%= @stroll.tag %></span></p>
        <p><span class="glyphicon glyphicon-time" aria-hidden="true">&emsp;<%= @stroll.user.created_at.strftime("%Y年%-m月%-d日") %></span></p>
      </div>
      <div class="text-center">
      <p><span class="glyphicon glyphicon-comment" aria-hidden="true">&emsp;</span></p>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, stroll: @stroll } %>
      </div>
      <% if user_signed_in? && @stroll.user_id != current_user.id %>
        <%= render partial: 'comments/form', locals: { comment: @comment, stroll: @stroll } %>
      <% end %>
      </div>
      <div class="text-center">
        <br>
      <% if user_signed_in? && current_user.id == @stroll.user_id %>
        <div class="btn-group btn-group-sm">
          <%= link_to '編集', edit_stroll_path(@stroll.id), class: "btn btn-default btn-sm" %>
          <%= link_to '削除', stroll_path(@stroll.id), class: "btn btn-default btn-sm", method: :delete, data: { confirm: '本当に削除していいですか？' } %>
        </div>
      <% end %>
      <% if current_user %>
        <% unless @stroll.user_id == current_user.id %>
          <% if @favorite.present? %>
            <%= link_to 'いいね！を取り消す', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-warning' %>
          <% else %>
            <%= link_to 'いいね！', favorites_path(stroll_id: @stroll.id), method: :post, class: 'btn btn-info' %>
          <% end %>
        <% end %>
      <% end %>
      &emsp;<%= link_to "一覧に戻る", strolls_path, class: "btn btn-default btn-sm" %>
      </div>
      <br>
    </div>
  </div>
  <div class="col-md-5">
    <div class="thumbnail" style="height:500px; border:none">
      <h2>投稿者プロフィール</h2>
      <br>
      <% if @stroll.user[:profile_image] == nil %>
        <%= image_tag"birthday.png", width:"325", height:"250" %>
      <% else %>
        <%= image_tag @user.profile_image.url if @user.profile_image && @user.profile_image.url%>
      <% end %>
      <p></p>
      <br>
      <p><span class="glyphicon glyphicon-user" aria-hidden="true">&emsp;<%= @stroll.user.name %>さん</span></p>
      <p><span class="glyphicon glyphicon-pencil" aria-hidden="true">&emsp;<%= @stroll.user.profile %></span></p>
      <p><span class="glyphicon glyphicon-bookmark" aria-hidden="true">&ensp;</span><% @stroll.user.labels.each do |label| %>
        <%= label.label_name %>
      <% end %></p>
    </div>
  </div>
</div>
