<!DOCTYPE html>
<html>
  <head>
    <title>chibasampo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><b>ChibaSampo</b><span class="sr-only">(current)</span></a>
        <a class="navbar-brand" href="/strolls"><b>Strolls</b><span class="sr-only">(current)</span></a>
        <a class="navbar-brand" href="/strolls/ganbarou"><b>Ganbarou</b><span class="sr-only">(current)</span></a>
        <a class="navbar-brand" href="/strolls/people"><b>People</b><span class="sr-only">(current)</span></a>
        <a class="navbar-brand" href="/strolls/quiz"><b>Quiz</b><span class="sr-only">(current)</span></a>
        <ul class="navbar-right">
          <li class="navbar-brand">
            <% if user_signed_in? %>
              <b><%= link_to "Profile", users_show_path %></b>&emsp;&emsp;
              <b><%= link_to "Logout", destroy_user_session_path, method: :delete %></b>&emsp;
            <% else %>
              <b><%= link_to "Signup", new_user_registration_path %></b>&emsp;&emsp;
              <b><%= link_to "Login", new_user_session_path %></b>&emsp;
            <% end %>
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
