<!DOCTYPE html>
<html>
  <head>
    <title>chibasampo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <br>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a id="chibasampo" class="navbar-brand" href="/" style="font-size:1.8rem">　ChibaSampo<span class="sr-only">(current)</span></a>
        <a class="navbar-brand" href="/strolls" style="font-size:1.8rem">Strolls<span class="sr-only">(current)</span></a>
        <a class="navbar-brand" href="/strolls/ganbarou" style="font-size:1.8rem">Ganbarou<span class="sr-only">(current)</span></a>
        <a class="navbar-brand" href="/strolls/people" style="font-size:1.8rem">People<span class="sr-only">(current)</span></a>
        <a class="navbar-brand" href="/strolls/quiz" style="font-size:1.8rem">Quiz<span class="sr-only">(current)</span></a>
        <ul class="navbar-right">
          <li class="navbar-brand" style="font-size:1.5rem">
            <% if user_signed_in? %>
              <%= link_to "Profile", users_show_path %>&emsp;
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>&emsp;
            <% else %>
              <%= link_to "Signup", new_user_registration_path %>&emsp;
              <%= link_to "Login", new_user_session_path %>&emsp;
            <% end %>
            <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="桜のオンとオフを切り替えます" >Sakura</a>&emsp;&emsp;&emsp;
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <div id="sakura"></div>
  </body>
</html>

<style>
.tooltip .tooltip-inner {
  background-color: white;
  border: dotted 0.5px black;
  color: black;
}
a {color:black;}
#chibasampo {
  color: #FF8C00;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hana{
	position:absolute;
	height:0;
	width:0;
	border: 10px solid pink;
	border-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
}
.hana::after{
	content:"";
	display:block;
	position:absolute;
	top:-7px;
	left:-7px;
	height:0;
	width:0;
	border: 10px solid pink;
	border-radius: 15px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
}
</style>
<script>
  (function(d,b,w){
  	var q = d.createElement('div');
  	q.id = "sakura";
  	q.innerHTML = '<style>'+
  	'html,body{overflow-x:hidden;}'+
  	'.hana{'+
  	'position:absolute;height:0;width:0;'+
  	'border: 10px solid pink;'+
  	'border-radius: 15px;'+
  	'border-top-right-radius: 0;'+
  	'border-bottom-left-radius: 0;}'+
  	'.hana::after{'+
  	'content:"";display:block;position:absolute;top:-7px;left:-7px;height:0;width:0;'+
  	'border: 10px solid pink;'+
  	'border-radius: 15px;'+
  	'border-top-right-radius: 0;'+
  	'border-bottom-left-radius: 0;'+
  	'-webkit-transform: rotate(15deg);-ms-transform: rotate(15deg);transform: rotate(15deg);'+
  	'}'+

  	'.t1{border-color:#fff3f5;}'+
  	'.t2{border-color:#ffe2e7;}'+
  	'.t3{border-color:#ffd1d9;}'+
  	'.t4{border-color:#ffc0cb;}'+
  	'.t5{border-color:#ffafbd;}'+
  	'.t6{border-color:#ffafbd;}'+
  	'.t1::after{border-color:#fff3f5;}'+
  	'.t2::after{border-color:#ffe2e7;}'+
  	'.t3::after{border-color:#ffd1d9;}'+
  	'.t4::after{border-color:#ffc0cb;}'+
  	'.t5::after{border-color:#ffafbd;}'+
  	'.t6::after{border-color:#ffafbd;}'+

  	'.y1{-webkit-animation:v1 10s infinite;animation:v1 10s infinite;}'+
  	'.y2{-webkit-animation:v2 10s infinite;animation:v2 10s infinite;}'+
  	'.y3{-webkit-animation:v3 9s infinite;animation:v3 9s infinite;}'+
  	'.y4{-webkit-animation:v4 9s infinite;animation:v4 9s infinite;}'+
  	'.y5{-webkit-animation:v5 8s infinite;animation:v5 8s infinite;}'+
  	'.y6{-webkit-animation:v6 8s infinite;animation:v6 8s infinite;}'+
  	'@-webkit-keyframes v1{'+
  		'from{-webkit-transform: rotate(0deg) scale(.9);}'+
  		'50%{-webkit-transform: rotate(270deg) scale(.9);}'+
  		'to{-webkit-transform: rotate(1deg) scale(.9);}'+
  	'}'+
  	'@-webkit-keyframes v2{'+
  		'from{-webkit-transform: rotate(-90deg) scale(.8);}'+
  		'50%{-webkit-transform: rotate(-360deg) scale(.8);}'+
  		'to{-webkit-transform: rotate(-89deg) scale(.8);}'+
  	'}'+
  	'@-webkit-keyframes v3{'+
  		'from{-webkit-transform: rotate(30deg) scale(.7);}'+
  		'50%{-webkit-transform: rotate(300deg) scale(.7);}'+
  		'to{-webkit-transform: rotate(29deg) scale(.7);}'+
  	'}'+
  	'@-webkit-keyframes v4{'+
  		'from{-webkit-transform: rotate(-120deg) scale(.6);}'+
  		'50%{-webkit-transform: rotate(-390deg) scale(.6);}'+
  		'to{-webkit-transform: rotate(-119deg) scale(.6);}'+
  	'}'+
  	'@-webkit-keyframes v5{'+
  		'from{-webkit-transform: rotate(60deg) scale(.5);}'+
  		'50%{-webkit-transform: rotate(330deg) scale(.5);}'+
  		'to{-webkit-transform: rotate(59deg) scale(.5);}'+
  	'}'+
  	'@-webkit-keyframes v6{'+
  		'from{-webkit-transform: rotate(-150deg) scale(.4);}'+
  		'50%{-webkit-transform: rotate(-420deg) scale(.4);}'+
  		'to{-webkit-transform: rotate(-149deg) scale(.4);}'+
  	'}'+
  	'@keyframes v1{'+
  		'from{transform: rotate(0deg) scale(.9);}'+
  		'50%{transform: rotate(270deg) scale(.9);}'+
  		'to{transform: rotate(1deg) scale(.9);}'+
  	'}'+
  	'@keyframes v2{'+
  		'from{transform: rotate(-90deg) scale(.8);}'+
  		'50%{transform: rotate(-360deg) scale(.8);}'+
  		'to{transform: rotate(-89deg) scale(.8);}'+
  	'}'+
  	'@keyframes v3{'+
  		'from{transform: rotate(30deg) scale(.7);}'+
  		'50%{transform: rotate(300deg) scale(.7);}'+
  		'to{transform: rotate(29deg) scale(.7);}'+
  	'}'+
  	'@keyframes v4{'+
  		'from{transform: rotate(-120deg) scale(.6);}'+
  		'50%{transform: rotate(-390deg) scale(.6);}'+
  		'to{transform: rotate(-119deg) scale(.6);}'+
  	'}'+
  	'@keyframes v5{'+
  		'from{transform: rotate(60deg) scale(.5);}'+
  		'50%{transform: rotate(330deg) scale(.5);}'+
  		'to{transform: rotate(59deg) scale(.5);}'+
  	'}'+
  	'@keyframes v6{'+
  		'from{transform: rotate(-150deg) scale(.4);}'+
  		'50%{transform: rotate(-420deg) scale(.4);}'+
  		'to{transform: rotate(-149deg) scale(.4);}'+
  	'}'+

  	'</style>';
  	b.appendChild(q);

  	var h = w.innerHeight;
  	var u = d.documentElement.scrollTop || b.scrollTop;
  	var z = 9999;
  	var t = new Array();
  	var l = new Array();
  	var y = new Array();
  	var s = new Array();
  	var g = new Array();
  	var c = new Array();
  	var k = 0;
  	d.addEventListener('scroll',function(){u = d.documentElement.scrollTop || b.scrollTop;},false);
  	for(var i=0;i<30;i++){
  		var m = d.createElement('div');
  		m.id = 'hanabira'+i;
  		t[i] = Math.random()*-1000+u;
  		l[i] = Math.random()*w.innerWidth;
  		m.setAttribute('style','z-index:'+(z+i)+';top:'+t[i]+'px;left:'+l[i]+'px;');
  		var clss = 'hana t'+(Math.floor(Math.random()*6)+1)+' y'+(Math.floor(Math.random()*6)+1);
  		m.setAttribute('class',clss);
  		q.appendChild(m);
  		y[i] = Math.random()*30+5;
  		s[i] = Math.random()*3+2;
  		g[i] = d.getElementById('hanabira'+i);
  		c[i] = 0;
  	}
  	setInterval(function(){
  		for(var i=0;i<30;i++){
  			if(t[i]<u+h-40){
  				if(y[i]>=c[i]){
  					l[i] = l[i]+0.5+Math.random()*0.5;
  				}else{
  					l[i] = l[i]-0.5-Math.random()*0.5;
  				}
  				if((y[i]*2)<=c[i]){
  					c[i] = 0;
  				}
  			}else{
  				t[i] = u-40;
  				l[i] = Math.random()*w.innerWidth;
  			}
  			if(k>=100 && k<=110){l[i] = l[i]+1;}
  			else if(k>=111 && k<=120){l[i] = l[i]+3;}
  			else if(k>=121 && k<=129){l[i] = l[i]+5;}
  			else if(k>=130 && k<=137){l[i] = l[i]+7;}
  			else if(k>=138 && k<=144){l[i] = l[i]+9;}
  			else if(k>=145 && k<=300){l[i] = l[i]+11;}
  			else if(k>=301 && k<=311){l[i] = l[i]+9;}
  			else if(k>=312 && k<=322){l[i] = l[i]+7;}
  			else if(k>=323 && k<=335){l[i] = l[i]+5;}
  			else if(k>=336 && k<=349){l[i] = l[i]+3;}
  			else if(k>=350 && k<=354){l[i] = l[i]+1;}

  			else if(k>=500 && k<=510){l[i] = l[i]-1;}
  			else if(k>=511 && k<=520){l[i] = l[i]-3;}
  			else if(k>=521 && k<=529){l[i] = l[i]-5;}
  			else if(k>=530 && k<=537){l[i] = l[i]-7;}
  			else if(k>=538 && k<=544){l[i] = l[i]-9;}
  			else if(k>=545 && k<=700){l[i] = l[i]-11;}
  			else if(k>=701 && k<=711){l[i] = l[i]-9;}
  			else if(k>=712 && k<=722){l[i] = l[i]-7;}
  			else if(k>=723 && k<=735){l[i] = l[i]-5;}
  			else if(k>=736 && k<=749){l[i] = l[i]-3;}
  			else if(k>=750 && k<=754){l[i] = l[i]-1;}

  			else if(k>=900){k = 0;}

  			t[i] = t[i]+s[i];
  			g[i].style.top = t[i]+'px';
  			g[i].style.left = l[i]+'px';
  			c[i]++;
  		}
  		k++;

  	},60);
  })(window.document,window.document.body,window);
  jQuery(function($){
    var _btnSakura = $('.btn.btn-warning');
    _btnSakura.on('click',function(e){
      var _currentTarget = $(e.currentTarget);

      if(_currentTarget.hasClass('isHideSakura')){
        _currentTarget.css('background-color','#f0ad4e');
        _currentTarget.css('border-color','#f0ad4e');
        $('.hana').show();
        localStorage.setItem('disActiveSakura', '0');
      }else{
        _currentTarget.css('background-color','#5bc0de');
        _currentTarget.css('border-color','#5bc0de');
        $('.hana').hide();
        localStorage.setItem('disActiveSakura', '1');
      }
      _currentTarget.toggleClass('isHideSakura');
    });

    var _disActiveSakura = localStorage.getItem('disActiveSakura');
    if(_disActiveSakura === null){
        return;
    }
    _disActiveSakura = parseInt(_disActiveSakura);
    if(_disActiveSakura === 1){
        _btnSakura.trigger('click');
    }
});
  $(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
