<!DOCTYPE html>
<html>
  <head>
    <title>chibasampo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">ChibaSampo<span class="sr-only">(current)</span></a>
        <a class="navbar-brand" href="/strolls">Strolls<span class="sr-only">(current)</span></a>
        <a class="navbar-brand" href="/strolls/ganbarou">Ganbarou<span class="sr-only">(current)</span></a>
        <a class="navbar-brand" href="/strolls/people">People<span class="sr-only">(current)</span></a>
          <a class="navbar-brand" href="/strolls/quiz">Quiz<span class="sr-only">(current)</span></a>
        <ul class="navbar-right">
          <li class="navbar-brand">
            <% if user_signed_in? %>
              <%= link_to "Profile", users_show_path %>&emsp;&emsp;
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>&emsp;
            <% else %>
              <%= link_to "Signup", new_user_registration_path %>&emsp;&emsp;
              <%= link_to "Login", new_user_session_path %>&emsp;
            <% end %>
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
